body{
    background-image: url('dark_wood.png');
}

p{
    font-weight: bold;
    color: white;
    font-family: "Arial";

}

h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;


}

li{

}

#Header{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    background-color: #8E41D5;
    animation-name: headermove;
    animation-duration: 4s;
    animation-delay: 2s;
}

    @keyframes headermove {
        0%   {background-color:purple; left:0px; top:0px;}
        25%  {background-color:yellow; left:200px; top:0px;}
        50%  {background-color:purple; left:200px; top:200px;}
        75%  {background-color:yellow; left:0px; top:200px;}
        100% {background-color:purple; left:0px; top:0px;}
    }



#Header h1{
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC00;
    font-weight: bold;

}

#LeftNav{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    float: left;
    text-align: center;
    background-color: #8E41D5;

}

#LeftNav img{
    opacity: 1;
    filter: alpha(opacity=100);
    transform: rotate(20deg); /* Standard syntax */
   

}
#LeftNav img:hover{
    opacity:0.5;
    filter: alpha(opacity=50);
}


#LeftNav ul{
    padding-bottom: 8px;

}

#LeftNav h3{

}

#Content{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    padding: 15px;
    background-color: #8E41D5;
    transition: width 50s;


}
#Content:hover{
    width: 300px;
}

#Footer{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    background-color: #8E41D5;
    transition: width 2s, height 4s;

}
#Footer:hover{
    width: 300px;
    height: 300px;
}
ul{
    list-style-type: none;
    padding-left:0px;
}
a:link {
    color: white;
    font-weight:bold;
    font-size: 24px;
}
